img#plants {
  position: fixed;
  bottom: -260px;
  z-index: -10;
  left: -20px;
  width: 100%;
  filter: opacity(50%);
}

img#tree {
  position: fixed;
  bottom: -160px;
  z-index: -10;
  right: -50%;
  width: 100%;
  filter: contrast(10%);
}


body {
  margin: 0px !important;
}

.menu-button {
  background: rgba(50, 121, 14, 0.57);
}

mat-toolbar {
  background: #1D911D;
}

mat-toolbar-row {
  padding: 10px;
}

.story-box {
  margin-top: 10px;
  padding: 10px;
  color: lightgreen;
  background: rgba(0, 0, 0, 0.67);
  text-align: center;
  border-radius: 10px;
}

.header {
  padding-top: 100px;
  font-size: 2.5rem;
}

.header-subtext {
  padding-top: 40px;
  font-size: 1.5rem;
}

.header-photos {
  margin-top: 20px;
  justify-content: center;
}

.header-photo {
  max-width: 20%;
  border-radius: 10px;
  margin: 10px;
}

.box {
  height: 20px;
}
